/*------------Master CSS settings--------------*/
/*from the style directory bash cat pieces/* > master.css to update*/


/*Reset*/
* {
    box-sizing: border-box;
	
}
body{
    background-color: linen;
	margin: 0;
    padding: 0;
	font-family: Helvetica;
	position: relative;
}

