/*<link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>*/
body {
	font-size: 5vh;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Permanent Marker", cursive;
	text-align: center;
}

h1 {
/*    font-size: 10vh;*/
}
h2 {
/*	font-size: 8vh;*/
}
h3 {
/*	font-size: 6vh;*/
	margin-bottom: 0;
}


#title h1{
	text-shadow: 5px 5px 0 #f25d27;
	white-space: nowrap;
	transform: rotate(-15deg);
	font-size: 0vh;
	margin-top: 32vh;
}

#scoreboard-title {
	margin: 0;
}

.player-name {
	font-family: 'Amatic SC', sans-serif;
	font-size: 1.5em;
	margin: 0;
	padding: 0;
}

.score {
	font-family: 'Amatic SC', sans-serif;
	font-size: 1em;
	text-align: center;
	margin-bottom: 0;
}

.score:before {
	content: "Score: ";

}

#countdown {
	font-size: 8em;
	font-family: "Permanent Marker" sans-serif;
	color: #d92332;
}

.final-score {
	text-decoration: underline;
	font-size: 1.5em;
}