/*Form Elements*/
.button, button{
    height: 10vh;
    width: 10vh;
    border-radius: 5px;
    font-size: 4vh;
    border: none;
    box-shadow: 2px 2px 0 black;
    margin: 1vh;
    font-weight: bold;
    color: white;
}
#play {
    width: 40vh;
}
input {
    height: 8vh;
    width: 40vh;
    display: inline-block;
}
label {
    display: inline-block;
}
label h2 {
    margin:  0;
    padding: 0;
}
.player {
    margin: 3vh;
}
