/*screen divisions*/

main { /*Largest containter*/
    position: relative;
    height: 100vh;
    width: 100vw;
	text-align: center;
}
#game { /*holds all the components for the game*/
    height: 84vh;
	width: 166vh; /*Scoreboard width + map width*/
	margin-top: 8vh;
    display: inline-block;
    position: relative;
	text-align: left;
}

#scoreboard{ /*Holds the scoreboard on the left side*/
    background-color: lightseagreen;
    height: 100%;
    width: 40vh;
    float: left;
    display: inline-block;
	background-color: pink;
	padding: .5em;
	border-right: 5px solid #d92332;
}

.player {
	margin: 0;
	padding: .2em 0;
	border-bottom: 2px solid rgba(0, 0, 0, .3);
}
.player:last-child {
	border: none;
}

#map { /*Holds the gameboard where play happens on the right side*/
    background: url(../images/chip_pattern.png) #f2bb13;
    height: 100%;
    width: 126vh;
    float: left;
    display: inline-block;
}

.rap-sheet {
	display: inline-block;
	height: 100vh;
	overflow: none;
	font-family: 'Amatic SC', sans-serif;
	font-size: 1em;
	padding-top: 1em;
	background-color: #d92332;
}

.winner {
	background-color: #618c42;
}
