<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Players</title>
	<link rel="stylesheet" href="../styles/master.css">
	<link rel="stylesheet" href="../styles/pieces/fonts.css">
	<link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
	<style>	
		button{
			height: 10vh;
			width: 10vh;
			border-radius: 5px;
			font-size: 4vh;
			border: none;
			box-shadow: 2px 2px 0 black;
			margin: 1vh;
			font-weight: bold;
			color: white;
		}
		#play {
			width: 40vh;
		}
		input {
			height: 8vh;
			width: 40vh;
			display: inline-block;
		}
		label {
			display: inline-block;			
		}
		label h2 {
			margin:  0;
			padding: 0;
		}
		.player {
			margin: 4vh;
		}
	</style>
	
</head>
<body>

	<section id="sign-up">
	
	<div class="full-screen yellow-bg">
	
		<h1>How many Players?</h1>
		<button class="red-bg">1</button><button class="green-bg">2</button>
	
		
		
		<form>
		<div class="player">
			<label for="Player 1">
				<h2>Player 1 :</h2>
			</label>
			<input type="text">
		</div>
		<div class="player">
			<label for="Player 2">
				<h2>Player 2 :</h2>
			</label>
			<input type="text">
		</div>
		<button id="play" class="green-bg">Let's go!</button>
		</form>
	
		
	</div>
	
	
</section>


<section>
	
</section>

<script>
	//event listeners on buttons
	//takes you to form with proper number of inputs
</script>
</body>
</html>