<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title Screen</title>
	<link rel="stylesheet" href="../styles/master.css">
	<link rel="stylesheet" href="../styles/pieces/fonts.css">
	<link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
</head>
<body>



<section id="title">
	<div class="full-screen yellow-bg title">
		<h1 class="green">
		Guac-a-Mole
		</h1>
	</div>
</section>

<script>
	//animate title growing from infinity.
</script>
	
	
	
</body>
</html>