/*------------Master CSS settings--------------*/
/*from the style directory bash cat pieces/* > master.css to update*/


/*Reset*/
* {
    box-sizing: border-box;
	
}
body{
    background-color: linen;
	margin: 0;
    padding: 0;
	font-family: Helvetica;
}

/*alerts*/
.full-screen{
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: rgba(240, 240, 240, 1);
    margin:0;
    position:fixed;
    top: 0;
    left: 0;
	text-align: center;
}

.pop-up{
    width: inherit;
    height: 84vh;
    z-index: 98;
    background-color: rgba(255, 255, 255, .95);
    margin:0;
    position: fixed;
	padding: 0;
	text-align: center;
}
/*text colors*/
.red {
	color: #d92332;
}
.green {
	color: #618c42;
}
.yellow {
	color: #f2bb13;
}
.orange {
	color: #f28322;
}
.dorange {
	color: #f25d27;
}

/*background colors*/
.red-bg {
	background-color: #d92332;
}
.green-bg {
	background-color: #618c42;
}
.yellow-bg {
	background-color: #f2bb13;
}
.orange-bg {
	background-color: #f28322;
}
.dorange-bg {
	background-color: #f25d27;
}/*<link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>*/

h1, h2, h3, h4, h5, h6 {
	font-family: "Permanent Marker", cursive;
}

h1 {
    font-size: 10vh;
}
h2 {
	font-size: 8vh;
}

.title {
	
}

.title h1{
	text-shadow: 5px 5px 0 #f25d27;
	white-space: nowrap;
	transform: rotate(-15deg);
	font-size: 18vh;
	margin-top: 32vh;
}/*grid*/
#grid-3x2{
    width: 126vh;
    height: 100%;
/*    margin:auto;*/
	margin:0;
	padding: 0;
}
.cell-3x2{
    margin: 0;
    border: 1px solid;
    height: 50%;
    width: 33.333%;
    float: left;
}

#grid-3x3{
    width: 84vh;
    height: 100%;
    margin:auto;
}
.cell-3x3{
    margin: 0;
    border: 1px solid;
    height: 33.333%;
    width: 33.333%;
    float: left;
}

#grid-4x3{
    width: 112vh;
    height: 100%;
    margin:auto;
}
.cell-4x3{
    margin: 0;
    border: 1px solid;
    height: 33.333%;
    width: 25%;
    float: left;
}
/*screen divisions*/

#container {
    position: relative;
    height: 100vh;
    width: 100vw;
	text-align: center;
}
#game {
    height: 84vh;
	width: 166vh; /*Scoreboard width + map width*/
	margin-top: 8vh;
    display: inline-block;
    position: relative;
	text-align: left;
}

.h-split {
    display:inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    border: 1px solid;
    float: left;
}
.v-split {
    display:block;
    position: relative;
    width: 100%;
    height: 50%;
    border: 1px solid;
}
#map {
    background-color: peachpuff;
    height: 100%;
    width: 126vh;
    float: left;
    display: inline-block;
    background: url() green;
	position: relative;
}
#scoreboard{
    background-color: lightseagreen;
    height: 100%;
    width: 40vh;
    float: left;
    display: inline-block;
	position: relative;
}
